<div class = "beer">
    <a href="/beers/{{id}}"><h3>{{ name }}</h3></a>
    <img src="{{ image_url }}" alt="{{ name }}"/>
    <p>Description: {{ description }}</p>
    <p>Tag Line: {{ tagline }}</p>
</div>
  